body{
    margin: 0;
    font-family: 'Otomanopee One', sans-serif;
}
section{
    display: flex;
    
    height: 800px;
}
.section-1{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.section-2{
    background-image: url(/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.section-3{
    background-image: url(/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.half-width{
    
    width: 40%;
    height: 800px;
    margin-left: 120px;

}
h1{
    font-size: 50px;
    font-weight: 200;
}
.heading-color{
    color: purple;
}
.half-width img{
    height: 80%;
    width: 80%;
    margin-left: 80px;
    margin-top: 50px;
    
}
.half-width p{
    color: rgba(0, 0, 0, 0.486);
    font-weight: 100;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(90deg, purple, white);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 900;
}
.section-3{
    height: 500px;
    
    margin-top: 10px;
}
.three-box{
    width: 33%;
    height: 80%;
    border-top: 15px solid;
    border-image: linear-gradient(90deg, purple, white);
    border-image-slice: 1;
    
    padding: 0px 20px;
    box-shadow: 10px 10px 20px gray;
    
    margin: 10px 15px;
}
.three-box p{
    color:rgba(0, 0, 0, 0.486)
}
.movies-button {
    border-radius: 5px;
    padding: 5px 30px;
    background-color: rgba(0, 0, 0, 0.555);
    font-size: 40px;
    color: rgb(245,197,24);

}
footer p{
    font-size: 20px;
    text-align: center;
}